.board-container,
.board,
.status-bar,
.victory {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-row {
  display: flex;
}

.board-cell {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid black;
  background-color: white;
}

.board-cell.hit {
  background-color: white;
  color: red;
}

.board-cell.miss {
  background-color: white;
  color: black;
}

.board-cell.sunk {
  border: 3px solid darkblue;
}

.board-cell.hit,
.board-cell.miss {
  font-size: 32px;
  text-align: center;
}

.status-bar {
  justify-content: space-around;
  margin-bottom: 1em;
}

.play-again-button {
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.play-again-button:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  .board-cell {
    width: 30px;
    height: 30px;
  }
  .play-again-button {
    font-size: 14px;
    padding: 8px 16px;
  }
  .status-bar {
    font-size: 14px;
  }
}

@media (max-width: 568px) {
  .board-cell {
    width: 32px;
    height: 32px;
  }
}

.ship-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1em;
}

.ship-image-container {
  margin: 0.5em;
}

.ship-image-container img {
  height: auto;
}

.ship-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.ship-item {
  max-width: 100px;
  display: flex;
  align-items: center;
}

.ship-status {
  margin-left: 1em;
}

.ship-marker {
  display: inline-block;
  margin-right: 0.5em;
  font-size: 24px;
}

.ship-marker.sunk {
  color: red;
}

@media (min-width: 769px) {
  .board-container {
    display: flex;
    flex-direction: row;
  }
  .ship-list {
    margin-left: 2em;
  }
}

@media (max-width: 768px) {
  .board-container {
    display: flex;
    flex-direction: column;
  }
}

/* Desktop */
@media (min-width: 769px) {
  .ship-image-container img {
    max-width: 100px;
  }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
  .ship-image-container img {
    max-width: 80px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .ship-image-container img {
    max-width: 50px;
  }
}
